<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="apc_lab">
	<xacro:property name="camera_pose_z" value="1.59" />
	<xacro:property name="camera_pose_y" value="1.73" />
	<xacro:property name="camera_pitch" value="0.3927" />

	<xacro:property name="pi" value="3.1415926535897931"/>

	<xacro:include filename="$(find arg2f_description)/urdf/common.gazebo.xacro" />
	<!-- Load Camera Config File -->
	<!-- <xacro:include filename="$(find apclab_description)/urdf/camera.gazebo.xacro" /> -->
	<!-- <xacro:include filename="$(find apclab_description)/urdf/camera1.gazebo.xacro" /> -->

	<xacro:include filename="$(find apclab_description)/urdf/pointgrey_stereo.gazebo.xacro" />
	<!-- Setup armbot transmission -->
	<xacro:include filename="$(find apclab_description)/urdf/armbot.transmission.xacro" />
  <xacro:armbot_transmission prefix="" />

	<!-- THE ROBOT -->
	<link name="world" />


	<!-- Load operation_table -->
	<xacro:include filename="$(find apclab_description)/urdf/operation_table.urdf.xacro" />
	<xacro:operation_table />
	<joint name="world_to_table_joint" type="fixed">
		<parent link="world" />
		<child link = "table_surface_link" />
		<origin xyz="0.0 0.59 0.7125" rpy="0.0 0.0 0.0" />
	</joint>
	<!-- Load ur_stand with world -->
	<xacro:include filename="$(find apclab_description)/urdf/ur_stand.urdf.xacro" />
	<xacro:ur_stand />
	<joint name="world_to_stand_joint" type="fixed">
		<parent link="world" />
		<child link = "stand_surface_link" />
		<origin xyz="0.0 -0.16 0.88" rpy="0.0 0.0 0.0" />
	</joint>

	<!-- UR from ROS-i repos -->
	<!-- Mount UR5 onto ur_stand Mounting Plate -->
	<xacro:include filename="$(find ur_description)/urdf/ur5_DH.urdf.xacro" />
	<joint name="ur5_mounting_joint" type="fixed">
		<parent link="mounting_plate_link" />
		<child link = "base_link" />
		<origin xyz="0.0 0.0 0.009" rpy="0.0 0.0 -${pi/4}" />
	</joint>
	<xacro:ur5_robot prefix="" joint_limited="true"/>

	<!-- Mouting Gripper onto UR5 -->
	<xacro:include filename="$(find arg2f_description)/urdf/arg2f_140.urdf.xacro" />
	<xacro:arg2f_140 prefix="" />
	<joint name="gripper_connection_joint" type="fixed">
		<parent link="tool0"/>
		<child link="arg2f_base_link"/>
		<axis xyz="0 0 1"/>
		<origin xyz="0 0 0" rpy="0 0 1.5708" />
	</joint>


	<!-- ##################################
		 			Camera Setup
	################################## -->
		<joint name="camera_joint" type="fixed">
			<axis xyz="1 0 0" />
			<origin xyz="0 ${camera_pose_y} ${camera_pose_z}" rpy="0 ${camera_pitch} -${pi/2}"/>
			<parent link="world"/>
			<child link="left_camera_link"/>
		</joint>
		

	<!-- Camera -->
		<link name="left_camera_link">
			<collision>
				<origin xyz="0 0 0" rpy="-${pi/2} ${pi} -${pi/2}"/>
				<geometry>
					<box size="0.4 0.01 0.04"/>
				</geometry>
			</collision>

			<visual>
				<origin xyz="0 0 0" rpy="-${pi/2} ${pi} -${pi/2}"/>
				<geometry>
					<mesh filename="package://apclab_description/meshes/r200.dae"/>
				</geometry>
			</visual>

			<inertial>
				<mass value="1e-5" />
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
		</link>

	
	<!-- ###############################
						Room Setup
	############################### -->
	<!-- Lab Walls -->
	<joint name="wall_joint" type="fixed">
		<axis xyz="1 0 0" />
		<origin xyz="0 -0.6 2.5" rpy="0 0 0"/>
		<parent link="world"/>
		<child link="wall_link"/>
	</joint>

	<gazebo reference="wall_link">
		<material>Gazebo/Residential</material>
	</gazebo>

	<link name="wall_link">
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="5 0.001 5"/>
			</geometry>
		</collision>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="5 0.001 5"/>
			</geometry>
			<material name="lab_wall">
				<color rgba="${143/255} ${199/255} ${184/255} 1" />
			</material>
		</visual>

		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>

	<!-- Lab Floor-->
	<joint name="floor_joint" type="fixed">
		<axis xyz="1 0 0" />
		<origin xyz="0 2.05 0.0005" rpy="0 0 0"/>
		<parent link="world"/>
		<child link="floor_link"/>
	</joint>

	<gazebo reference="floor_link">
		<material>Gazebo/Residential</material>
	</gazebo>

	<link name="floor_link">
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="6 6 0.001"/>
			</geometry>
		</collision>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="6 6 0.001"/>
			</geometry>
			<material name="grey_floor">
				<color rgba="${214/255} ${88/255} ${93/255} 1" />
			</material>
		</visual>

		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>

</robot>
