<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="leg_colour" params="leg_idx">
    <gazebo reference="leg_${leg_idx}">
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="table_surface_colour">
    <gazebo reference="table_surface_link">
      <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>

</robot>
