<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="stand_leg_colour" params="stand_leg_idx">
    <gazebo reference="stand_leg_${stand_leg_idx}">
      <material>Gazebo/AluExtrusion</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="stand_surface_colour">
    <gazebo reference="stand_surface_link">
      <material>Gazebo/AluExtrusion</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="mounting_plate_colour">
    <gazebo reference="mounting_plate_link">
      <material>Gazebo/AluExtrusion</material>
    </gazebo>
  </xacro:macro>

</robot>
